:root {
  --primary-50: theme('colors.purple.50');
  --primary-100: theme('colors.purple.100');
  --primary-200: theme('colors.purple.200');
  --primary-300: theme('colors.purple.300');
  --primary-400: theme('colors.purple.400');
  --primary-500: theme('colors.purple.500');
  --primary-600: theme('colors.purple.600');
  --primary-700: theme('colors.purple.700');
  --primary-800: theme('colors.purple.800');
  --primary-900: theme('colors.purple.900');
  --primary: var(--primary-600);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  transition: color 0.1s ease 0s,
    background-color 0.1s ease 0s;
}